# fly.toml app configuration file generated for otsem-web on 2026-01-30T23:23:26-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'otsem-web'
primary_region = 'gru'

[build]
  dockerfile = 'Dockerfile'

  [build.args]
    NEXT_PUBLIC_API_URL = 'https://api.otsembank.com'
    NEXT_PUBLIC_GATEWAY_URL = 'https://apisbank.brxbank.com.br'

[env]
  NODE_ENV = 'production'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

  [[http_service.checks]]
    interval = '15s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/'

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
